@page
@model IdentityUsersModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization

<h3 class="bg-primary text-white text-centee p-2">Admin User</h3>
<table class="table table-sm table-stripped table-bordered">
    <tbody>
        <tr>
            <th>User</th>
            <td>@Model.AdminUser?.UserName</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.AdminUser?.Email</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>@Model.AdminUser?.PhoneNumber</td>
        </tr>
    </tbody>
</table>

@functions {
    //is used to restrict access, acts as the entry point for the Blazor part of the application
    [Authorize]
    public class IdentityUsersModel(UserManager<IdentityUser> mgr) : PageModel
    {
        private UserManager<IdentityUser> userManager = mgr;
        public IdentityUser? AdminUser {get;set;} = new();
        public async Task OnGetAsync(){
            AdminUser = await userManager.FindByNameAsync("Admin");
        }
    }
}