<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width" name="viewport" />
        <title>Sports Store</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>