@page

<div class="text-center">
    <h2>Thanks!</h2>
    <p>Thanks for placing the order #@OrderId</p>
    <p>We'll ship your products as soon as possible</p>
    <a class="btn btn-primary" asp-controller="Home">Return to Store</a>
</div>

@functions {
    //that a value for this property should be obtained from the request by the model binding system
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }
}